@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

@font-face {
  font-family: 'Cascadia Code';
  src: url('./fonts/CascadiaCode.ttf') format('truetype');
}

.highlight {
  overflow: scroll;
}

header {
  background-color: #f8fafb;
  color: #93a4ad;
  display: flex;
  flex-wrap: wrap;
  height: 2em;
  position: sticky;
  padding-top: 10px;
  top: 0px;
}

.title {
  flex-grow: 1;
  white-space: nowrap;
}

#toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
}

.hamburger > span {
  background-color: #dd0000;
  height: 4px;
  display: block;
  width: 30px;
  transition-duration: .5s;
}

.hamburger > span + span {
  margin-top: 6px;
}

.menu {
  background-color: #f8fafb;
  color: #222;
  display: none;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.6em;
  list-style: none;
  margin-top: 0;
  padding: 40px 0;
  order: 1;
  width: 100%;
}

.menu li {
  padding: 10px;
  text-align: center;
}

input:checked + .hamburger > span {
  rotate: 45deg;
  transform-origin: left;
}

input:checked + .hamburger > span + span {
  opacity: 0;
}

input:checked + .hamburger > span + span + span {
  opacity: 100%;
  rotate: -45deg;
  transform-origin: left;
}

input:checked ~ .menu {
  display: block;
}

#prev {
  text-align: center;
}

#next {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  #prev {
    padding-right: 5px;
    text-align: left;
    width: 50%;
  }

  #next {
    padding-left: 5px;
    text-align: right;
    width: 50%;
  }
}

footer {
  color: #93a4ad;
  margin-top: 20px;
  text-align: center;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #dd0000;
  overflow-wrap: break-word;
}

blockquote {
  border-left: 10px solid #dd0000;
  margin-left: 0;
  margin-right: 30px;
  padding-left: 20px;
}

body {
  background-color: #f8fafb;
  color: #222;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  margin: auto;
  max-width: 800px;
  padding: 20px;
  padding-top: 0px;
  text-align: justify;
}

h1 {
  line-height: 1.2em;
  text-align: left;
}

@media only screen and (min-width: 800px) {
  body {
      font-size: 1.1em;
  }
}

code {
  background-color: #e6edf2;
  border: 1px solid #d8dadb;
  border-radius: 8px;
  padding: 2px 4px;
}

pre {
  color: #c9d1d9;
  padding: 0 20px;
}

code, pre {
  font-family: 'Cascadia Code', Lucida Console, Courier, monospace;
  font-size: .8em;
}

ul {
  list-style: square;
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  max-width: 100%;
}

hr {
  border-color: #93a4ad;
  border-style: solid;
  border-width: 1px 0 0 0;
}

table {
  border: 1px #222 solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 5px 10px;
  border: 1px #93a4ad solid;
  background-color: #222;
  color: #f8fafb;
}

td {
  padding: 5px 10px;
  border: 1px #222 solid;
}

tr:nth-child(even) {
  background-color: #93a4ad;
}

tr:nth-child(odd) {
  background-color: #f8fafb;
}
